[Unit]
Description=Load NVIDIA driver for the passed-through GPU
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/modprobe nvidia
ExecStart=/usr/bin/nvidia-modprobe -c 0 -u
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
